{% extends 'base.html' %}

{% block content %}

<div class="card " >
    <div class="card-header">
        <strong>{{ employee_record.first_name }} 
            {{ employee_record.last_name }}</strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Email: </strong>{{ employee_record.email }}</li>
      <li class="list-group-item"><strong>Phone: </strong>{{ employee_record.phone }}</li>
      <li class="list-group-item"><strong>Address: </strong>{{ employee_record.address }}</li>
      <li class="list-group-item"><strong>City: </strong>{{ employee_record.city }}</li>
      <li class="list-group-item"><strong>State: </strong>{{ employee_record.state }}</li>
      <li class="list-group-item"><strong>Zipcode: </strong>{{ employee_record.zipcode }}</li>
      <li class="list-group-item"><strong>Create At: </strong>{{ employee_record.created_at }}</li>
    </ul>

  </div>
  <br/>
  <a href="{% url 'update_record' employee_record.id %}" class="btn btn-success">Update Record</a>
  <a href="{% url 'delete_record' employee_record.id %}" class="btn btn-danger">Delete</a>

  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
  
  {% endblock%}